# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
pubspec.lock
.idea/
*.iml
.vscode/

# Archives et fichiers locaux
*.bin
.DS_Store
pubspec.lock
android/key.properties
android/app/*.keystore
